@page
@model AnimationCharacters.Pages_Character.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].TitleMovie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].NameCharacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].CategoryCharacter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character[0].Scenery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Character) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleMovie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCharacter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryCharacter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scenery)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
