@page
@model AnimationCharacters.Pages_AnimationCharacter.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimationCharacter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationCharacter.TitleMovie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimationCharacter.TitleMovie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationCharacter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimationCharacter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationCharacter.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimationCharacter.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationCharacter.Scenery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimationCharacter.Scenery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimationCharacter.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimationCharacter.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AnimationCharacter.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
